
<div class="footer-margin">
  <footer class="card-footer bg-light footer-font-style text-muted footer-position">Open Gallery made by Andrew Sims and Seep Gulati
	<%= link_to 'Contact Us', home_path, class: "p-3" %>
	</footer>
</div>
