<footer class="page-footer border-top bg-light text-muted d-flex justify-content-between align-items-center">
<div class="ml-3">©2019 Open Gallery by Andrew Sims and Seep Gulati</div>
<%= link_to 'Contact Us', home_path, class: "p-3 text-dark mr-2" %>
</footer>
