<div class="container-fluid">
  <div class="row border-bottom">
    <div class="white-on-orange col-4">
      <h1 class="text-right pt-5 font-weight-bold">Open</h1>
    </div>
    <div class="col-8">
      <h1 class="pt-5 font-weight-bold">Gallery</h1>
      <h3 class="pt-5">An online art gallery and social media platform.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "lakse.jpg", size: 300%>
    </div>
    <div class="col">
      <%= image_tag "wessels.jpg" %>
    </div>
    <div class="col">
      <%= image_tag "babybirthday.jpg" %>
    </div>
  </div>
</div>