<div class="container-fluid">
  <div class="row border-bottom">
    <div class="white-on-orange col-4">
      <h1 class="text-right pt-5 font-weight-bold">Open</h1>
    </div>
    <div class="col-8">
      <h1 class="pt-5 font-weight-bold">Gallery</h1>
      <h3 class="pt-5">An online art gallery and social media platform.</h3>
    </div>
  </div>
</div>