<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've sold an artwork!</h1>
    <p>You sold an artpiece. Check the site for more information.</p>
    <p>Your purchase_invoice is <%= Faker::Invoice.reference %></p>
    <p>The seller will be expecting you to be in contact soon. Thanks for selling your artwork with Open Gallery.</p>
  </body>
</html>