<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've sold an artwork!</h1>
    <p>You sold your piece <%= @sale_data[:piece_name] %>. Check the site for more information.</p>
    <p>The purchase invoice is <%= @sale_data[:invoice] %></p>
    <p><%= @sale_data[:buyer].capitalize %> will be expecting you to be in contact soon. Thanks for selling your artwork with Open Gallery.</p>
  </body>
</html>