h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: -2px;
}

p, a {
  font-family: 'Playfair Display', serif;
}

.white-on-orange {
  background: #ffa500;
  color: white;
}

.white-on-light-orange {
  background: hsl(29, 100%, 58%);
  color: white;
}

.text-orange {
  color: orange;
}