* {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  letter-spacing: -2px;
}

p, a {
  font-family: 'Playfair Display', serif;
}

.white-on-orange {
  background: #ffa500;
  color: white;
}

.white-on-light-orange {
  background: hsl(29, 100%, 58%);
  color: white;
}

.text-orange {
  color: orange;
}

.cover {
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.cover {
  object-fit: cover;
}

.nav-link:hover {
  border-bottom: 1px solid orange;
}

.user-name {
  font-family: 'Playfair Display', serif;
  color: orange;
  font-size: 1.2em;
  font-weight: bold;
}

.welcome {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

.like-button {
  position: relative;
  left: 490px;
  top: 118px;

  font-size: 1.3em;
}

.red {
  color: red;
}

.fill {
  width: 70%;
}

.text-area-high {
  height: 150px;
}

.height50 {
  height: 70%;
}