h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: -2px;
}

p, a {
  font-family: 'Playfair Display', serif;
}

.white-on-orange {
  background: orange;
  color: white;
}

.white-on-green {
  background: #619161;
  color: white;
}
