<div class="row">
	<div class="col-2 white-on-orange"></div>
	<div class="col p-5">
		<h1 class="my-2">Thanks for placing your order </h1>
		<p class="my-2">Thank you for placing your order at <strong>Open Gallery!</strong></p>
		<p class="my-2">Your purchase_invoice is <%= Faker::Invoice.reference %></p>
		<p class="my-2">
			We have informed the artist of your purchase and sent both of you copies
			of the invoice. The artist should be in touch with you soon to confirm
			delivery. Here's an automatic response from their workshop:
		</p>
		<p>
			<%= @sale_data[:auto_msg] %>
		</p>
	</div>
	<div class="col-2"></div>
</div>

  