

<h1>Thanks for placing your order </h1>

  	<p> Thank you for placing your order at <strong> Open Gallery! </strong> </p>
    
		<p> Your purchase_invoice is <%= Faker::Invoice.reference %> </p>

    <p> Your piece will reach you shortly. Have a great day!</p>
  